body,
html {
  margin: 0;
  padding: 0;
  height: 100%;

  scroll-behavior: smooth;
}

span {
  color: black;

  font-weight: bold;
}

em {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: black;
}

body.overlay_no_scroll {
  overflow: hidden;
}

.body_element {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: grid;
  justify-content: center;
  background-color: white;
  padding-bottom: 10px;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 27%);
}

.header_content {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 90vw;
  justify-content: space-between;
}

.header_left {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  padding-top: 10px;
}

.header_left_logo {
  padding: 10px;
  width: 40px;
  height: 40px;
}

.header_left_logo_container {
  
  background-size: cover;
}

.header_left_logo_caption {
  font-size: 33px;
  margin: 0;
  color: #b90a0a;
}

.header_left_logo_caption_subtitle {
   font-size: 14px;
  margin: 0;
  color: #000000;
}

/* CONTENT  */
/*
.d-none {
  display: none;
}

.pokemon-card {
  display: flex;
}

#overlay {
display: block;
}

#overlay_content{
display: flex;
}

*/
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.overlay-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}


#overlay_inner {
  background: white;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.overlay-card {
  position: relative;
  width: 420px;            
  max-width: 90vw;
  min-height: 560px;

  border-radius: 18px;
  overflow: hidden;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  background: white;

  display: flex;
  flex-direction: column;
}


.overlay-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: auto !important;
  height: auto !important;

  padding: 6px 12px;
  border-radius: 50%;

  background: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

@keyframes zoomIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}


@media (max-width: 480px) {
  .overlay-card {
    width: 95vw;
    min-height: auto;
  }
}


.overlay-card img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  background: linear-gradient(135deg, #f5f5f5, #eaeaea);
}


.stat {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}




.pokeball-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.pokeball-btn img {
  width: 64px;
  height: 64px;
  transition: transform 0.2s ease;
}

.pokeball-btn:hover img {
  transform: scale(1.1) rotate(10deg);
}

.pokeball-btn:active img {
  transform: scale(0.95);
}


.content_menu_and_sidebar {
  display: flex;
  /* width: max-content; */
  /* width: auto; */
  /* max-width: 300px; */
  justify-content: space-between;
}

@media (max-width: 850px) {
  .content_menu_and_sidebar {
    display: block;
  }
}

.content_menu_and_sidebar_background_color {
  background-color: #fcfcfc;
  /* width: 100vw; */
  flex: 1;
}

@media (max-width: 860px) {
  .content_menu_and_sidebar_background_color {
    background-color: #fcfcfc;
    width: auto;
  }
}

.sidebar_shoppingcart {
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 15%);
  height: auto;
  /* width: 22vw; */
  /* flex: 1; */
  /* display: grid
; */
  display: flex;
  justify-content: center;
}

@media (max-width: 850px) {
  .sidebar_shoppingcart {
    display: none;
  }
}

.content_sidebar {
  margin: 20px;
  top: 20px;
  position: sticky;
  height: fit-content;
}

.content_sidebar_header {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar_shoppingcart_items {
  /* max-height: 300px; */
  overflow-y: auto;
  padding-right: 5px;
  width: 300px;
}

.sidebar_shoppingcart_caption {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 450;
  width: 300px;
}

.sidebar_shoppingcart_image {
  height: 45px;
  width: 45px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  justify-content: center;
}

.sidebar_cart_subtotal {
  margin-bottom: 4px;

  margin-top: 33px;
}

.sidebar_cart_shipping {
  margin-bottom: 4px;
}

.sidebar_cart_trash_item {
  width: 20px;
  cursor: pointer;
  align-items: center;
}

.sidebar_cart_order_button {
  width: max-content !important;
  height: 40px;
  background-color: white;
  color: rgba(238, 99, 81, 0.921);
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgba(104, 91, 81, 0.532);
  border-radius: 100px;
  cursor: pointer;
  align-items: center;
}

.order-button-wrapper {
  display: flex;
  justify-content: center;
}

.order-message-fill-cart-button {
  width: max-content !important;
  height: 40px;
  background-color: white;
  color: rgba(238, 99, 81, 0.921);
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgba(104, 91, 81, 0.532);
  border-radius: 100px;
  cursor: pointer;
  align-items: center;
}

.sidebar_overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: white;

  align-items: center;
  display: none; /* Standard: versteckt */
  flex-direction: column;
}

.sidebar_overlay_content {
  display: flex;
  flex-direction: column;
}

.sidebar_overlay_caption {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 450;
  width: min-content;
}

@media (min-width: 849px) {
  .sidebar_overlay {
    display: none !important; /* Nur bei kleinen Screens */
  }
}

.content_above_header_section_image {
  margin: 50px;
}

.content_menu {
  margin-bottom: 80px;
  flex-grow: 1;
}

/*RESTAURANT HEADER */

.restaurant_header_section {
  display: flex;
  align-items: end;
  justify-content: center;
}

.restaurant_header_section_image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  background-position: center;
}

.restaurant_header_section_logo {
  position: absolute;
  max-height: 23vh;
  border-radius: 20%;
  background-color: rgb(192 18 18 / 91%);
  object-fit: cover;
  margin: -30px;
  border: 6px solid white;
  outline: 1px solid black;
  max-width: 25vw;
}

.restaurant_header_name {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  color: black;
  padding-bottom: 10px;
}

.restaurant_header_rating {
  padding-bottom: 25px;
}

/*MENU NAVIGATION  */
.menu_navigation_section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu_navigation_section {
}

.menu_navigation_item_search_bar {
  flex: 1;
  display: flex;
  width: fit-content;
  gap: 50px;
  padding-bottom: 10px;
}

.search_input {
  width: 40vw;
  border-radius: 20px;
  border: 1px solid rgb(86, 86, 86);
  padding: 13px;
}

button {
  width: 40px;
  height: 40px;
  background-color: white;
  color: rgba(238, 99, 81, 0.921);
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgba(104, 91, 81, 0.532);
  border-radius: 100px;
  cursor: pointer;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.menu_navigation_category_slide {
  color: white;
  font-weight: 450;
  font-size: clamp(14px, 2vw, 20px);
  border: 2px solid rgba(255, 255, 255, 0.532);
  border-radius: 40px;
  display: flex;
  gap: 4%;
}

.popular_dish_element {
  display: flex;
  position: relative;
  /* max-width: 24vw;*/

  border-radius: 20px;
  /* flex-wrap: wrap; */
  /* min-width: 272px;*/
  width: 331px;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 18%);
  width: clamp(230px, 19vw, 34vw);
}

.menu_navigation_popular_dish_element_image {
  height: 9vh;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
  border: 2px solid #919191;
  margin: 10px;
  width: clamp(10px, 94px, 30vw);
  object-fit: cover;
}

.popular_dish_caption {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  width: 15vw;
}

@media (max-width: 811px) {
  .popular_dish_caption {
    width: auto;
  }
}

.menu_category_dish_caption {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  /* margin-right: 16px; */
}

.menu_navigation_dish_element_button {
  /* position: absolute; */
  /* margin: 10px; */
  right: -10px;
  top: -10px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: rgba(238, 99, 81, 0.921);
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgba(104, 91, 81, 0.532);
  border-radius: 100px;
  cursor: pointer;
}

/* MENU CATEGORY */

.menu_category_image {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  background-position: center;
  margin: 40px 40px 0 0;
}

.menu_category_dish_item {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 10px;
  /* position: relative; */
  margin-bottom: 8px;
  box-shadow: 0 4px 15px 0 rgb(29 18 37 / 14%);
  /* width: clamp(223px, 40vw, 34vw); */
}
@media (max-width: 350px) {
  .menu_category_dish_item {
    justify-self: center;
    width: 223px;
  }
}

.menu_category_dish_item_image_and_button {
  position: relative;
  display: flex; /*inline-block */
}

.menu_category_dish_item_image {
  /* max-width: 22vw; */
  height: clamp(80px, 8vw, 26vw);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10%;
  border: 2px solid #919191;
  position: relative;
  display: block;
  width: clamp(77px, 8vw, 26vw);
  /* right: 0; */
  /* width: 117px; */
  object-fit: cover;
}

.menu_category_dish_item_button {
  position: absolute;
  /* margin: 10px; */
  right: 0;
  top: -5px;
  width: 40px;
  height: 40px;
  background-color: white;
  color: rgba(238, 99, 81, 0.921);
  font-weight: bold;
  font-size: 16px;
  border: 2px solid rgba(104, 91, 81, 0.532);
  border-radius: 100px;
  cursor: pointer;
}

.menu_category_bottom_imprint {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.menu_category_bottom_imprint_icon {
  width: 100px;
  height: 100px;
}

/*  */

.toggle_sidebar_button {
  position: sticky;
  height: fit-content;
  bottom: 0px;
  /* left: 50%; */
  width: 100%;
  display: flex;
  justify-content: center;

  height: 50px;
}

@media (min-width: 850px) {
  .toggle_sidebar_button {
    display: none;
  }
}

.toggle_sidebar_button_font {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 100px;
  width: 100%;
  background: #fe7f03;
  font-family: "Montserrat", sans-serif;
}

.order-message {
  text-align: center;
  padding: 20px;
}

.order-message button {
  margin-top: 15px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.order-message {
  text-align: center;
  padding: 20px;
}

.order-message button {
  margin-top: 15px;
  padding: 10px 18px;
  font-size: 1rem;
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-message button:hover {
  background-color: #b34b00;
}

/*FOOTER  */
.footer {
  display: flex;
  justify-content: center;
  background-color: #efedea;
  height: 100px;
  align-items: center;
}

.footer_content {
  align-self: center;
}
.footer_copyright_imprint {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  flex-wrap: wrap;
}

.footer_imprint {
  font-size: 18px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.footer_imprint:hover {
  text-decoration: underline;
}

.footer_copyright {
  display: flex;
  justify-content: center;
}
